<receipt [receiptData]="receiptData"></receipt>


<!--

<profile [profileData]="profileData"></profile>

<product-details
[productDetails]="productDetails"
[producerView]="true"
[categories]="categories"
[units]="units"
></product-details>


<login [logInView]="name"></login>

<register></register>

<product-details></product-details>


<div class="tmp">
    <div *ngFor="let card of cards">
        <card [cardData]="card"></card>
    </div>
</div>>


<product-details
[productDetails]="productDetails"
[producerView]="false"
[categories]="categories"
[units]="units"
></product-details>
-->
