<!DOCTYPE html>
<ng-template let-modal #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rechazar solicitud</h4>
    <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body"><span>Por favor especifique por qué rechazó la solicitud a continuación:</span><br/>
    <textarea [(ngModel)]="razonRechazo">  </textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" type="button" (click)="modal.close('Submit')">Enviar comentario</button>
  </div>
</ng-template>
<div class="field-card">
  <div class="field-card__image"><img [src]="this.imgUrl"></div>
  <div class="field-card__text">
    <div class="field-card__title"><span>{{this.title}}</span></div>
    <div class="field-card__subtitle"><span>{{this.subtitle}}</span></div>
  </div>
  <div class="field-card__buttons">
    <div class="field-card__button1" (*ngIf)="this.type=='afiliacion'" (click)="confirm()"><img src="https://img.icons8.com/android/24/000000/checkmark.png"></div>
    <div class="field-card__button2" (*ngIf)="this.type=='afiliacion'||this.type!='top'" (click)="dismiss(content)"><img src="https://img.icons8.com/pastel-glyph/64/000000/cancel.png"></div>
  </div>
</div>