<mat-toolbar class="mainContainer">
    <button class="menuButton">
        <img src="../../../../assets/icons/main-menu.svg">
    </button>
    <img class="logo" src="../../../../assets/logos/logo-small.svg">
    <div class="buttonContainer">
        <button class="button buttonFirst">
            <img class="icon" src="{{ buttonFirst.icon }}">
            {{ buttonFirst.text }}
        </button>
        <button class="button buttonSecond">
            <img class="icon" src="{{ buttonSecond.icon }}">
            {{ buttonSecond.text }}
        </button>
    </div>
</mat-toolbar>