<div class="mainContainer">
    <mat-card class="card">
        <img class="logo" src="../../../../assets/logos/logo-large.svg">
        <div class="buttonContainer">
            <button class="button clientButton" [routerLink]="['../login-client']">Cliente</button>
            <button class="button producerButton" [routerLink]="['../login-producer']">Productor</button>
            <button class="button adminButton" [routerLink]="['../login-administrator']">Admin</button>
        </div>
    </mat-card>
</div>

