<div class="mainContainer">
    <mat-card class="card">
        <input id="inputFile" type="file" accept="image/*" name="image" style="display: none;" (change)="onFileChanged($event)" #inputFile>
        <button class="addPicture" (click)="inputFile.click()">
            <img class="clickableIcon" src="{{ iconSource }}">
        </button>
        <div class="bottomContainer">
            <form>
                <mat-form-field class="inputLong">
                    <input matInput #message name="name" placeholder="Nombre" [(ngModel)]="name">
                </mat-form-field>
                <mat-form-field class="inputLong">
                    <input matInput #message name="lastNames" placeholder="Apellidos" [(ngModel)]="lastNames">
                </mat-form-field>
                <mat-form-field class="inputLong">
                    <input matInput #message name="idCard" placeholder="Cedula" [(ngModel)]="identification">
                </mat-form-field>  
            </form>
            <div class="horizontalContainer">
                <div class="verticalContainer">
                    <selector
                        [elementList]="this.provinces"
                        [placeHolder]="'Provincia'"
                        (clickedEvent)="selectedProvince($event)"
                    ></selector>
                    <selector 
                        [elementList]="this.cantons"
                        [placeHolder]="'Cantón'"
                        (clickedEvent)="selectedCanton($event)">
                    </selector>
                    <selector
                        [elementList]="this.districts"
                        [placeHolder]="'Distrito'"
                        (clickedEvent)="selectedDistrict($event)">
                    </selector>
                </div>
                <div class="verticalContainer">
                    <mat-form-field class="inputLong">
                        <input matInput type="date" placeholder="DD/MM/YYYY" name="birthDate" [(ngModel)]="birthDate">
                    </mat-form-field>
                    <mat-form-field class="inputLong">
                        <input matInput type="text" #message placeholder="Teléfono" name="phoneNumber" [(ngModel)]="phoneNumber">
                    </mat-form-field>
                </div>
            </div>
            <button class="signUpButton" (click)="validateInput()">Registrar</button>
        </div>
    </mat-card>
</div>