.header
  .header__logo
    img(src='/assets/logos/logo-small.svg')
  .header__button
    a Salir
.body
  .body__content  
    admin-field(
      title="Solicitudes de afiliación"
      type="afiliacion"
      cards='{{this.convertToString()}}')
    
