
<div class="header">
  <div class="header__logo"><img src="/assets/logos/logo-small.svg"/></div>
  <div class="header__button"><a>Salir</a></div>
</div>
<div class="body">
  <div class="body__content"> 
    <div class="field"><span class="field__title">Solicitudes de afiliacion</span>
      <div class="field__content">
        <div class="field-card">
          <div class="field-card__image"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdata%2F2016%2F05%2F26%2F771190_people_512x512.png&amp;f=1&amp;nofb=1"/></div>
          <div class="field-card__title"><span>De la Olla José Carlos</span></div>
          <div class="field-card__subtitle"><span>8888 8888</span></div>
          <div class="field-card__button1"><img src="https://img.icons8.com/pastel-glyph/64/000000/cancel.png"/></div>
          <div class="field-card__button2"><img src="https://img.icons8.com/android/24/000000/checkmark.png"/></div>
        </div>
      </div>
    </div>
  </div>
</div>