
<div class="header">
  <div class="header__logo"><img src="/assets/logos/logo-small.svg"/></div>
  <div class="header__button"><a>Salir</a></div>
</div>
<div class="body">
  <div class="body__content"> 
    <admin-field title="Solicitudes de afiliación" type="afiliacion" cards="{{this.afiliacionCards()}}"></admin-field>
    <admin-field title="Productores" type="productores" cards="{{this.productoresCards()}}"></admin-field>
    <admin-field title="Categorias" type="categorias" cards="{{this.categoriasCards()}}"></admin-field>
    <admin-field title="Top 10" type="top" card="{{this.topCards()}}"></admin-field>
  </div>
</div>