<mat-card *ngIf="isProduct" class="card">
    <img mat-card-image class="image" src="{{ cardData.imageURL }}" (click)="onActionClicked('productDetails')"/>
    <mat-card-content class="bottomContainer">
        <div>
            <h1 class="titleShort" (click)="onActionClicked('productDetails')">{{ cardData.title }}</h1>
        </div>
        <div>
            <score [score]="cardData.rating"></score>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="isProducer" class="card">
    <img mat-card-image class="image" src="{{ cardData.imageURL }}" (click)="onActionClicked('producerDetails')"/>
    <mat-card-content class="bottomContainer">
        <div>
            <h1 class="titleShort" (click)="onActionClicked('producerDetails')">{{ cardData.title }}</h1>
        </div>
        <div>
            <score [score]="cardData.rating"></score>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="isOrder" class="card">
    <img mat-card-image class="image" src="{{ cardData.imageURL }}" (click)="onActionClicked('receipt')"/>
    <mat-card-content class="bottomContainer">
        <div>
            <h1 class="titleShort" (click)="onActionClicked('receipt')">{{ cardData.receiptData.receiptID }}</h1>
        </div>
        <div class="alignEnd">
            <h4 class="time">{{ cardData.receiptData.time }}</h4>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="newProduct" class="card newProduct" (click)="onActionClicked('newProduct')">
    <div class="newProductContainer">
        <img mat-card-image class="addProduct" src="../../../../assets/icons/add-product-picture.svg" />
        <h4 class="tag">Añadir producto</h4>
    </div>
</mat-card>