<div class="mainContainer">
    <mat-card class="card">
        <img class="logo" src="../../../../assets/logos/logo-large.svg">
        <div class="bottomContainer">
            <div *ngIf="view ==='Cliente'" class="titleBox boxClient">
                <h1 class="title titleClient">{{ view }}</h1>
            </div>
            <div *ngIf="view ==='Productor'" class="titleBox boxProducer">
                <h1 class="title titleProducer">{{ view }}</h1>
            </div>
            <div *ngIf="view ==='Administrador'" class="titleBox boxAdmin">
                <h1 class="title titleAdmin">{{ view }}</h1>
            </div>
            <input type="email" id="email" name="email" placeholder="Correo" [(ngModel)]="userID">
            <input type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password">
            <button *ngIf="view ==='Cliente'" class="logInButton boxClient" (click)="login()">Iniciar sesión</button>
            <button *ngIf="view ==='Productor'" class="logInButton boxProducer" (click)="login()">Iniciar sesión</button>
            <button *ngIf="view ==='Administrador'" class="logInButton boxAdmin" (click)="login()">Iniciar sesión</button>
            <button *ngIf="view ==='Cliente'" class="link titleClient" [routerLink]="['../register-client']">o Regístrese</button>
            <button *ngIf="view ==='Productor'" class="link titleProducer" [routerLink]="['../register-producer']">o Regístrese</button>
        </div>
    </mat-card>
</div>